<?xml version="1.0" encoding="UTF-8"?>
<xmlData>
<fles ids = "1" tit = "桌面壁纸">
  <fles_son id_son="1" tit_son="静态壁纸">
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name><name>
        <names>静态壁纸</names>
        <urls>/picture/静态壁纸</urls>
        <explain>静态壁纸-这是说明文本</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>
    <name>
        <names>静态壁纸2</names>
        <urls>/picture/静态壁纸2</urls>
        <explain>这个图片是桌面壁纸的-静态壁纸2</explain>
    </name>

  </fles_son>

  <fles_son id_son="2" tit_son="动态壁纸">
    <name>
        <names>动态壁纸-动态壁纸</names>
        <urls>/picture-动态壁纸</urls>
        <explain>这个万能的如果这是一个很长的文字说明，显示效果是怎样的？？？-动态壁纸</explain>
    </name>
  </fles_son>
</fles>

<fles ids = "2" tit = "桌面壁纸2">
  <fles_son id_son="1" tit_son="静态壁纸2">
    <name>
        <names>桌面壁纸2</names>
        <urls>/picture/桌面壁纸2</urls>
        <explain>桌面壁纸2-这是说明文本</explain>
    </name>
    <name>
        <names>桌面壁纸22</names>
        <urls>/picture/桌面壁纸2/桌面壁纸22</urls>
        <explain>这个图片是桌面壁纸的-桌面壁纸22</explain>
    </name>
  </fles_son>

  <fles_son id_son="2" tit_son="动态壁纸2">
    <name>
        <names>动态壁纸-动态壁纸2</names>
        <urls>/picture-动态壁纸2</urls>
        <explain>这个万能的如果这是一个很长的文字说明，显示效果是怎样的？？？-动态壁纸2</explain>
    </name>
  </fles_son>
</fles>

<fles ids = "3" tit = "桌面壁纸3">
  <fles_son id_son="1" tit_son="静态壁纸3">
    <name>
        <names>桌面壁纸3</names>
        <urls>/picture/桌面壁纸3</urls>
        <explain>桌面壁纸3-这是说明文本</explain>
    </name>
  </fles_son>
</fles>

<!-- <fles ids = "2" tit = "状态栏">
    <name>
        <names>状态栏图片</names>
        <urls>/picture/状态栏图片</urls>
        <explain>状态栏图片-这是说明文本</explain>
    </name>
    <name>
        <names>状态栏tu</names>
        <urls>/picture/状态栏图片/状态栏tu</urls>
        <explain>这个图片是桌面壁纸的-状态栏图片</explain>
    </name>
    <name>
        <names>状态栏图片-状态栏3</names>
        <urls>/picture-状态栏图片</urls>
        <explain>这个万能的如果这是一个很长的文字说明，显示效果是怎样的？？？-状态栏图片</explain>
    </name>
</fles>


<fles ids = "3" tit="桌面">
    <name>
        <names>桌面图片</names>
        <urls>/picture/桌面图片</urls>
        <explain>这是说明文本-桌面图片</explain>
    </name>
    <name>
        <names>桌面图片-桌面图片2</names>
        <urls>/picture/桌面图片-桌面图片2</urls>
        <explain>这个图片是桌面壁纸的-桌面图片2</explain>
    </name>
    <name>
        <names>桌面图片-桌面图片3</names>
        <urls>/picture-桌面图片3</urls>
        <explain>这个万能的如果这是一个很长的文字说明，显示效果是怎样的？？？-桌面图片3</explain>
    </name>
</fles>
<fles ids = "4" tit="测试状态栏">
    <name>
        <names>测试状态栏</names>
        <urls>/picture/桌面图片</urls>
        <explain>这是说明文本-桌面图片</explain>
    </name>
    <name>
        <names>测试状态栏-桌面图片2</names>
        <urls>/picture/桌面图片-桌面图片2</urls>
        <explain>这个图片是桌面壁纸的-桌面图片2</explain>
    </name>
    <name>
        <names>测试状态栏-桌面图片3</names>
        <urls>/picture-桌面图片3</urls>
        <explain>这个万能的如果这是一个很长的文字说明，显示效果是怎样的？？？-桌面图片3</explain>
    </name>
    <name>
        <names>测试状态栏-桌面图片4</names>
        <urls>/picture-桌面图片4</urls>
        <explain>这个万能的如果这是一个很长的文字说明，显示效果是怎样的？？？-桌面图片4</explain>
    </name>
</fles> -->
</xmlData>
